/* Font imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #a29bfe;
  background-image: url("img/background.png");
  background-repeat: no-repeat;
}

body::-webkit-scrollbar {
  display: none;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Roboto Mono", monospace;
}

.gif_title {
  font-size: 1em;
}

.giphy {
  width: 400px;
  height: 300px;
}

.gifs {
  display: flex;
  flex-wrap: wrap;
  flex: 1 10%;
}

.gif {
  width: 400px;
  height: 300px;
}

.gifs p {
  text-align: center;
  color: white;
}

.gif-container {
  width: 90%;
  margin: 0 auto;
}

#search {
  margin: 0 auto;
  width: 50%;
  padding: 20px;
  border-radius: 20px;
}

#searchForm {
  width: 100%;
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 50px;
  display: inline-block;
}
